table {
  table-layout: fixed;
  border-collapse: collapse;
  display:flex;
  justify-content: center;
}

tr, td {
  border: 3px solid purple;
  padding: 0.5rem;
  text-align: center;
  font-size: 80px;
}

td {
  padding: 20px;
  width: 200px;
  height: 200px;
}

h1 {
  font-size: 80px;
  text-align: center;
}

h2 {
  text-align: center;
}

.playAgain {
  display: flex;
  justify-content: center;
}